@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", system-ui, sans-serif;
  --font-heading: "Montserrat", system-ui, sans-serif;

  --radius-btn: 0.75rem;
  --radius-card: 1.25rem;
}

:root {
  --theme-background: #f8fafc; /* Lebih terang sedikit dari #f1f5f9 agar terlihat lebih bersih */
  --theme-foreground: #0f172a;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--theme-background);
  color: var(--theme-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Scrollbar Premium */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
  transition: background 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Base custom utilities */
@layer utilities {
  .glass-effect {
    @apply bg-white/80 backdrop-blur-md border-b border-slate-200/50;
  }
  .soft-shadow {
    @apply shadow-[0_4px_20px_-4px_rgba(0,0,0,0.05)];
  }
}
